body {
    background-color: #F5F5F5;
}

ion-menu {
  --width: 250px;
}

ion-content {
  --background: #f5f5f5;
}

#login {
    margin: 15vh auto 0 auto;
    width: 80vw;
    max-width: 500px;
    background-color: #f7a312;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

#loginButton {
    padding: 5px;
    border-radius: 5px;
}

#main {
    display: none;
}

#header {
    position: absolute;
    padding-top: env(safe-area-inset-top);
    top: 0;
    left: 0;
    margin-top: 0px;
    height: calc(48px + env(safe-area-inset-top));
    width: 100vw;
    background: linear-gradient(112deg, rgba(94,185,231,1) 0%, rgba(64,122,219,1) 33%, rgba(115,70,210,1) 67%, rgba(140,90,196,1) 100%);
}

#headerText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}

#headerText button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 15px;
}

#headerText button img {
    height: 30px;
    width: 30px;
}

#headerText h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 21px;
    text-align: center;
    color: #f0f0f0;
}

#headerText img:last-child {
    margin-right: 10px;
    height: 40px;
}

#startPage {
    margin: 15vh auto 0 auto;
    width: 100vw;
    text-align: center;
    align-content: center;
}

/* makes sure doesnt auto zoom*/
input,
textarea,
select {
  font-size: 16px;
}

.latest-entries {
    display: flex;
    align-items: center;
    width: 88vw;
    height: 65px;
    background: linear-gradient(160deg,#f7a312 -10%,#f38f17 60%,#ef7d00 120%);
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #f0f0f0;
    text-align: left;
}

.latest-entries h2 {
    flex: 1;
    margin: 0;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    padding-left: 15px;
}

.grade-box {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 85vw;
    border: #f7a312 solid 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 88vw;
    height: 83px;
}

.subject-type {
    flex: 1;
    text-align: left;
    font-size: 16px;
    padding-left: 15px;
}

.subject-type p {
    margin: 0;            /* Alle Außenabstände entfernen */
    margin-bottom: 2px;   /* Oder einen kleinen Abstand, je nach Geschmack */
    line-height: 1.2;     /* Zeilenhöhe enger machen, optional */
}

.date {
    flex: 1;
    text-align: center;
    font-size: 16px;
    padding-left: 10px;
}

.grade {
    flex: 1;
    text-align: right;
    font-size: 21px;
    padding-right: 15px;
}

.grade b {
    font-size: 20px;
}

.grade p {
    margin: 0;            /* Alle Außenabstände entfernen */
    margin-bottom: 2px;   /* Oder einen kleinen Abstand, je nach Geschmack */
    line-height: 1.2;     /* Zeilenhöhe enger machen, optional */
    font-size: 13px;
}

.n1 {
    background-color: #6296774D;
}

.n2 {
    background-color: #8EB8974D;
}

.n3 {
    background-color: #FFD4474D;
}

.n4 {
    background-color: #FA79214D;
}

.n5 {
    background-color: #A501044D;
}
