.fehlstunden {
    border: var(--border-orange) solid 5px;
    border-radius: 5px;
    background-color: var(--background-color);
}

.fehlstunden-header {
    background-color: var(--border-orange);
    color: var(--text-color);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fehlstunden-table {
    margin: 0px;
    width: 100%;
}

.fehlstunden-table-header {
    background-color: var(--fehlstunden-header);
    min-height: 25px;
}

.fehlstunden-table-data {
    height: 25px;
}

#absencesTotal {
    font-weight: bold;
    text-align: center;
}

#absencesOpen {
    text-align: center;
}

#absencesExcused { 
    text-align: center;
}

#absencesNotExcused {
    text-align: center;
    background-color: var(--warning-red);
    font-weight: bold;
    color: var(--text-color-light);
}