.fehlstunden {
    border: #f7a312 solid 5px;
    border-radius: 5px;
    background-color: #ffffff;
}

.fehlstunden-header {
    background-color: #f7a312;
    color: #f0f0f0;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fehlstunden-table {
    margin: 0px;
    width: 100%;
}

.fehlstunden-table-header {
    background-color: #F7DEB6;
    min-height: 25px;
}

.fehlstunden-table-data {
    height: 25px;
}

#absencesTotal {
    font-weight: bold;
    text-align: center;
}

#absencesOpen {
    text-align: center;
}

#absencesExcused { 
    text-align: center;
}

#absencesNotExcused {
    text-align: center;
    background-color: #CB444A;
    font-weight: bold;
    color: #f0f0f0;
}