.fruewarnung {
    border: var(--border-orange) solid 5px;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.fruewarnung-header {
    background-color: var(--border-orange);
    color: var(--text-color-light);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fruewarnung-table {
    margin: 0px;
    width: 100%;
}

.fruewarnung-table-header {
    background-color: var(--table-header);
    height: 30px;
}

.fruewarnung-table-data {
    height: 30px;
    text-align: center;
    background-color: var(--warning-red);
    font-weight: bold;
    color: var(--text-color-light);
}

.fruewarnung-empty {
    text-align: center;
    font-weight: bold;
}
