#header {
    --background: linear-gradient(112deg, var(--header-color1) 0%, var(--header-color2) 33%, var(--header-color3) 67%, var(--header-color4) 100%);
    padding-bottom: 10px;
}

#headerText {
    color: var(--text-color-light);
}

#headerText button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 15px;
}

#headerText button img {
    height: 30px;
    width: 30px;
}

#headerText h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 21px;
    text-align: center;
    color: var(--text-color);
}

#headerText img:last-child {
    margin-right: 10px;
    height: 40px;
}