#header {
    --background: linear-gradient(112deg, rgba(94,185,231,1) 0%, rgba(64,122,219,1) 33%, rgba(115,70,210,1) 67%, rgba(140,90,196,1) 100%);
    padding-bottom: 10px;
}

#headerText {
    color: var(--text-color-light);
}

#headerText button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 15px;
}

#headerText button img {
    height: 30px;
    width: 30px;
}

#headerText h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 21px;
    text-align: center;
    color: var(--text-color);
}

#headerText img:last-child {
    margin-right: 10px;
    height: 40px;
}