.LF-details {
    border: #f7a312 solid 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
}

.LF-header-name {
    background-color: #f7a312;
    color: #f0f0f0;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.LF-header-details {
    background-color: #f7a312;
    color: #f0f0f0;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.LF-table {
    margin: 0px;
    width: 100%;
}

.LF-table-header {
    background-color: #F7DEB6;
    height: 30px;
}

.LF-table-data {
    height: 30px;
}

#LFgrade {
    text-align: center;
}

#LFpoints {
    text-align: center;
}

#LFpercent {
    text-align: center;
}

#LFcomment {
    text-align: start;
}

.LF-notenspiegel {
    border: #f7a312 solid 5px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.LF-notenspiegel-header {
    background-color: #f7a312;
    color: #f0f0f0;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.notenspiegel-table {
    margin: 0px;
    width: 100%;
}

.notenspiegel-table-header {
    background-color: #F7DEB6;
    height: 30px;
}

.notenspiegel-table-data {
    text-align: center;
    height: 30px;
}
