.LF-details {
    border: var(--border-orange) solid 5px;
    border-radius: 5px;
    background-color: var(--background-color);
}

.LF-header-name {
    background-color: var(--border-orange);
    color: var(--text-color);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.LF-header-details {
    background-color: var(--border-orange);
    color: var(--text-color);
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.LF-table {
    margin: 0px;
    width: 100%;
}

.LF-table-header {
    background-color: var(--table-header);
    height: 30px;
}

.LF-table-data {
    height: 30px;
}

#LFgrade {
    text-align: center;
}

#LFpoints {
    text-align: center;
}

#LFpercent {
    text-align: center;
}

#LFcomment {
    text-align: start;
}

.LF-notenspiegel {
    border: var(--border-orange) solid 5px;
    border-radius: 5px;
    background-color: var(--background-color);
    margin-top: 30px;
    margin-bottom: 30px;
}

.LF-notenspiegel-header {
    background-color: var(--border-orange);
    color: var(--text-color);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.notenspiegel-table {
    margin: 0px;
    width: 100%;
}

.notenspiegel-table-header {
    background-color: var(--table-header);
    height: 30px;
}

.notenspiegel-table-data {
    text-align: center;
    height: 30px;
}
