#login {
    margin: 15vh auto 0 auto;
    margin-top: 10vh;
    width: 80vw;
    max-width: 500px;
    background-color: #f7a312;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

#loginButton {
    padding: 5px;
    border-radius: 5px;
}