.menu-button {
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 15px;
    margin: 0;
    background-color: #ffffff;
    color: #787878;
    font-weight: bold;
}

ion-list {
  margin: 0;
  padding: 0;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  padding: 0;
  margin: 0;
}