.subject-header {
    border: var(--border-orange) solid 5px;
    border-radius: 5px;
    background-color: var(--border-orange);
}

.subject-header h3 {
    color: var(--text-color);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.subject-list {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--background-color);
    padding: 10px;
    padding-top: 5px;
    height: 100px;
    overflow: auto;
}

.subject-list div {
    background-color: #e6e6e6;
    padding: 0px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin: 7px;
    border-radius: 5px;
}

.subject-grades-list {
    margin-top: 15px;
    border: var(--border-orange) solid 5px;
    border-radius: 5px;
    background-color: var(--background-color);
}

.subject-grades-header {
    background-color: var(--border-orange);
    color: var(--text-color);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#notenPage {
    padding-bottom: 60px;
}